$base_color: #dc3545;
$decorate_color: #dc3545;
$bk_color: #dee2e6;
$text_color: #495057;
$h1_color: #007bff;

.jumbotron {
  position: relative;
  background: url("/assets/images/background.jpg");
  background-size: cover;
  color: white;
  border-radius: 0;

  #particles-js {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  h1 {
    color: $base_color;
    text-align: center;
  }
}

.logo {
  width: 25px;
  margin-right: 10px;
}

.btn-primary {
  background-color: $base_color;
  border-color: $base_color;
  position: relative;
}

h1 {
  border-width: 10px !important;
  border-color: $base_color !important;
  margin-left: 16px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $h1_color;
}

.course {
  div.col-sm {

    color: $text_color;

    h2 {
      text-align: center;
      color: $decorate_color;
      background: $bk_color;

      padding: 10px;
    }

    ul {
      padding-left: 20px;

      ol {
        padding-left: 20px;
        display: list-item;
      }
    }

  }


}

.vigcoin {
  background-color: $base_color;
  background-image: url("/assets/images/vigcoin.png");
  padding-bottom: 20px;
  opacity: 0.9;

  h1 {
    padding-top: 20px;
    text-align: center;
    color: white;
  }

  p {
    padding-left: 20px;
    color: #ccc;
  }
}

.about {
  text-align: center;
  background-color: #333;
  color: white;
  height: 200px;
  padding: 50px 20px;
}

.mentor {
  h1 {
    color: #28a745
  }
}
